<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Page</title>
    <style>
        .gameContent{
            font-size: larger;
            padding-top:150px ;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        button.home{
            background-color: grey;
            color: honeydew;
            font-size: larger;
        }
    </style>
</head>
<body>
    <div class="gameContent">
        <h3>You chose the left path. You are lead to lost riches.</h3>
        <a href="/11000"><button class="home">Go home with your treasure</button></a>
    </div>
</body>
</html>